body{
	font-size: 16px;
	background-color: #d7cec7;
	font-family: 'Slabo 27px', serif;
	margin: 0px;

	background: #F0C27B; /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #565656 , #d7cec7); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #565656 , #d7cec7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header{
	font-family: 'Slabo 27px', serif;
	color:white;




        
}

footer{
	background-color: #c09f80;
	margin-top: 20px;
}

h1 a{
	font-size: 18px;
	font-family: 'Slabo 27px', serif;
	color: white;
	text-transform: uppercase;
	text-decoration: none;

}

h1, a:hover{
	text-decoration: none;
	color: #FBA100;
}

h1, h3{
	text-align: center;
}



#first{
	align-content: center;
}

.navbar{
background-color: #76323f;
}

#bigImage{
display: block;
margin:auto;
width: 100%;
margin-bottom: 20px;
margin-top: 20px;
position: relative;
}

#smallImage{
display: block;
margin:auto;
width: 100%;
border: 2px solid white;
}

nav.navbar.navbar-default{
	height: 20px;
}

#collapsable-nav{
  width: 100%;
  text-align: center;
  background-color: #76323f;
  margin: 0;
  margin-bottom: 10px;
}

#home-tiles{
	margin:0px;
	padding: 0px;
	width: 100%;
}

nav#header-nav.navbar.navbar-default{
	margin-bottom: 0px;
}


@media(max-width: 479px){
	#home-tiles{
	margin-bottom: 10px;
	width: 100%;
	overflow: hidden;
	padding: 0;
}
p{
	color:white;
	margin-top: 20px;
	text-align: justify;
	font-size: 0.5em;
}
}

p{
	color:white;
	margin-top: 20px;
	text-align: justify;
	font-size: 0.9em;
}

ul#nav-list.nav.navbar-nav.navbar-right{
	margin: 0;
	margin-bottom: 10px;
}

ul#nav-list.nav.navbar-nav.navbar-right.visible-xs{
	margin: 0;
	margin-bottom: 10px;
}




nav#header-nav.navbar.navbar-default{
	margin-bottom: 0px;
}

.navbar-brand.visible-xs#home{
	margin-bottom: 10px;
	padding-top: 12px;
}

.navbar-nav>li>a:hover{
	background-color: #76323f;
}

#home{
	font-size: 18px;
	color: white;
}

#vidovdanija{
	font-family: 'Slabo 27px', serif;
	font-size: 50px;
}

a:hover#vidovdanija{
	background-color: none;
	color:white;
	text-shadow:none;
	}


a{
	color: white;
}

a:hover{
background-color:transparent;
color:white;
text-shadow: -2px 2px 20px #ffc, 2px -2px 20px #fff;
}

.navbar-default .navbar-toggle.collapsed .icon-bar {
    background-color: white;
    padding: 0px;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-default .navbar-nav>.active>a{
    color: black;
    background-color: transparent;
    text-shadow: -2px 2px 20px #ffc, 2px -2px 20px #fff;
}

.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: black;
    background-color: transparent;
}

#copyright{
	color: black;
	font-size: 0.7em;
	margin-top: 5px;
	margin-bottom: 5px;
}

span.glyphicon.glyphicon-home{
	font-size: 1.5em;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #76323f;
}


.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-header button.navbar-toogle{
	clear: both;
}


