body{
	font-size: 16px;
	background-color: #B6A19E;
	font-family: 'Slabo 27px', serif;
	margin: 0px;
}

header{
	font-family: 'Slabo 27px', serif;
	color:white;
	background-color: #6C648B;
}

footer{
	height: 240px;
	background-color: #6C648B;
}

h1 a{
	font-family: 'Slabo 27px', serif;
	color: white;
	text-transform: uppercase;
	text-decoration: none;

}

h1, a:hover{
	text-decoration: none;
	color: #FBA100;
}

h1, h3{
	text-align: center;
}



#first{
	align-content: center;
}

.navbar{
	background-color: #6BBAA7;
}

#bigImage{
display: block;
margin:auto;
width: 100%;
margin-bottom: 20px;
margin-top: 10px;
position: relative;
}

#smallImage{
display: block;
margin:auto;
width: 100%;
border: 2px solid white;
}

nav.navbar.navbar-default{
	height: 20px;
}

#collapsable-nav{
  width: 100%;
  text-align: center;
  background-color: #6BBAA7;
  margin: 0;
  margin-bottom: 20px;
}

#home-tiles{
	margin:0px;
	padding: 0px;
	margin-bottom: 10px;
	width: 100%;
}

nav#header-nav.navbar.navbar-default{
	margin-bottom: 0px;
}


@media(max-width: 479px){
	#home-tiles{
	margin-bottom: 10px;
	width: 100%;
	overflow: hidden;
	padding: 0;
}
}